@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    background-color: #0E1717;
    color:#EDF4ED
}

/* NAVBAR */

nav{
    background-color: rgb(133,179,146);
}

.navbar{
    padding: 2px 10%;
}

nav .nav-brand-text{
    width: 145px;
}

nav .nav-brand-text p{
    margin: 0;
}

nav .nav-brand-text .p1{
    font-weight: bold;
}

nav a img{
    height: 70px;
}

.navbar-light .navbar-brand:hover{
    color: #EDF4ED;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand{
    color: #EDF4ED;
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active{
    font-weight: bold;
    color: #EDF4ED;
    text-shadow: 1px 1px 10px #EDF4ED;
    border-bottom: 2px solid #EDF4ED;
}

/* Vision and Moto */

#Vision-and-moto{
    margin: 20px 10%;
}

#Vision-and-moto .vision-and-moto-head{
    font-family: 'Audiowide', cursive;
    color: #DD6031;
    margin-bottom: 20px;
    margin-left: 25px;
}

#Vision-and-moto .vision-and-moto-head span{
    border-bottom: 8px #79B791 double;
}

#Vision-and-moto .vision-pointer{
    padding: 5px 15px;
    margin: 7px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.07);
    box-shadow: 0px 0px 18px rgba(0,0,0,0.16);
}