@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    background-color: #0E1717;
    color:#EDF4ED
}

/* NAVBAR */

nav{
    background-color: rgb(133,179,146);
}

.navbar{
    padding: 2px 10%;
}

nav .nav-brand-text{
    width: 145px;
}

nav .nav-brand-text p{
    margin: 0;
}

nav .nav-brand-text .p1{
    font-weight: bold;
}

nav a img{
    height: 70px;
}

.navbar-light .navbar-brand:hover{
    color: #EDF4ED;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand{
    color: #EDF4ED;
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active{
    color: #EDF4ED;
    text-shadow: 1px 1px 10px #EDF4ED;
    border-bottom: 2px solid #EDF4ED;
}

/* Welcome */

#particles-js{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.particles-js-canvas-el{
    position: absolute;
}



/* Vision and Moto */

#Vision-and-moto{
    margin: 20px 10%;
}

#Vision-and-moto .vision-img{
    margin: auto 0;
}

#Vision-and-moto .vision-and-moto-head{
    font-family: 'Audiowide', cursive;
    color: #DD6031;
    margin-bottom: 20px;
    margin-left: 25px;
}

#Vision-and-moto .vision-and-moto-head span{
    border-bottom: 8px #79B791 double;
}

#Vision-and-moto .vision-pointer{
    padding: 5px 15px;
    margin: 7px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.07);
    box-shadow: 0px 0px 18px rgba(0,0,0,0.16);
}

/* Responsiveness */

@media (max-width: 720px){

    #Vision-and-moto .vision-and-moto-head{
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 501px){

    #Vision-and-moto .vision-and-moto-head{
        font-size: 2rem;
    }
}

/*  */

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin: 8rem 5%;
    padding: 0; */
    margin-top: 100px;
    margin-bottom: 100px;
}

#Founders {
    display: flex;
    flex-flow: column;
    align-items: flex-start ;
    width: 100%;
}

.heading {
    font-family: 'Audiowide', cursive;
    color: #DD6031;
    width: auto;
}

.founder {
    display: flex;
    width: 75%;
    flex-flow: row nowrap;
}

.profilepic {
    max-height: 10rem;
    margin: 0 25px;
    border-radius: 250px;
}

.textContent{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding-right: 10px;
}

.reverse {
    flex-direction: row-reverse;
    text-align: right;
    align-self: flex-end;
}

.textContentRight{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-left: 10px;
}

.subHeading {
    border-bottom: 3px #79B791 solid;
    font-family: 'Audiowide';
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    padding-top: 0;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #79B791;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
    color: ;
  }